canvas {
    display: block;
}

body {
    overflow: hidden;
    height: 100%;
}

#Slider .slider-selection{
    background: #4b8bf2;
}
#Slider {
    transform: translateY(-50px);
    width: 100px;
}

#button-orbit:hover, #button-delete:hover, 
#button-stop:hover, #button-play:hover,
#button-pause:hover, #button-planet:hover {
    opacity: 0.6;
}
