canvas {
    display: block;
}

body {
    overflow: hidden;
    height: 100%;
}

#Slider .slider-selection, #Slider2 .slider-selection{
    background: #4b8bf2;
}
#Slider{
    transform: translateY(-60px);
    width: 100px; /*伸ばしたのでスマホで崩れるときは縮めること*/
}

#Slider2 {
    position: absolute;
    transform: translate(-95px, 50px);
    width: 80px;
}

#planetRadio, #deleteRadio {
    transform: translateY(-50px);
}

#radio-snare {
    background-color: rgb(144, 255, 114);
}
#radio-snare:hover {
    opacity: 0.6;
}
#radio-kick {
    background-color: rgb(156, 99, 255);
}
#radio-kick:hover {
    opacity: 0.6;
}
#radio-hh {
    color: black;
    background-color: rgb(255, 251, 140);
}
#radio-hh:hover {
    opacity: 0.6;
}
#radio-hho {
    background-color: rgb(255, 140, 140);
}
#radio-hho:hover {
    opacity: 0.6;
}
.btn-primary.active {
    filter: grayscale(100%);
}

#button-orbit:hover, #button-delete:hover, 
#button-stop:hover, #button-play:hover,
#button-pause:hover, #button-planet:hover {
    opacity: 0.6;
}
